################################################################################
#
# @author      : Thomas Maxson
# @package     : Custom Covers
# @description :
#
################################################################################

template:
  - cover:
      - name: "Blinds, Tom's Office (Homekit)"
        unique_id: blinds_bedroom_4_for_homekit
        device_class: blind
        state: >-
          {% set state = ( state_attr( 'cover.blinds_bedroom_4', 'current_tilt_position' ) | int ) %}

          {% if ( state >= 0 ) and ( state <= 5 ) %}
            Closed
          {% elif ( state >= 95 ) and ( state <= 100 ) %}
            Closed
          {% else %}
            Open
          {% endif %}
        icon: >
          {% if is_state_attr( 'cover.blinds_bedroom_4', 'current_tilt_position', 100 ) %}
            mdi:blinds-open
          {% else %}
            mdi:blinds
          {% endif %}

        optimistic: false

        open_cover:
          action: cover.set_cover_tilt_position
          data:
            tilt_position: 50
          target:
            entity_id: cover.blinds_bedroom_4

        close_cover:
          action: cover.set_cover_tilt_position
          data:
            tilt_position: 100
          target:
            entity_id: cover.blinds_bedroom_4

        stop_cover:
          action: cover.stop_cover_tilt
          target:
            entity_id: cover.blinds_bedroom_4

        position: >
          {%- if state_attr( 'cover.blinds_bedroom_4', 'current_tilt_position' ) <= 50 -%}
            {{ ( 100 + ( int( state_attr( 'cover.blinds_bedroom_4', 'current_tilt_position' ) ) - 50 ) * 2 ) | round( -1 ) }}
          {%- else -%}
            {{ ( 100 - ( int( state_attr( 'cover.blinds_bedroom_4', 'current_tilt_position' ) ) - 50 ) * 2 ) | round( -1 ) }}
          {%- endif %}

        set_cover_position:
          action: cover.set_cover_tilt_position
          data:
            tilt_position: "{{ ( position / 2 ) | round( -1 ) }}"
          target:
            entity_id: cover.blinds_bedroom_4
