################################################################################
#
# @author      : Thomas Maxson
# @package     : Custom Sensors
# @description :
#
################################################################################

template:
  - sensor:
      - name: "Media Player Data Parameters"
        unique_id: media_player_parameters
        state: >-
          {% set media_devices = [
            states.media_player.echo_kitchen, 
            states.media_player.echo_dot_dining_room, 
            states.media_player.echo_dot_bedroom_1, 
            states.media_player.echo_dot_bedroom_2, 
            states.media_player.echo_dot_bedroom_3, 
            states.media_player.echo_dot_bedroom_4, 
            states.media_player.echo_pop_main_bathroom
          ] %}

          {{ media_devices | selectattr( 'state', 'in', ['playing', 'paused', 'on'] ) | list | count }}

        attributes:
          data_array: >-
            {%- set data = [
              { 
                'key': 'kitchen', 
                'player': 'media_player.echo_kitchen', 
                'announce': 'notify.echo_kitchen_announce', 
                'permission': 'input_boolean.household_notify_kitchen'
              }, { 
                'key': 'dining_room', 
                'player': 'media_player.echo_dot_dining_room', 
                'announce': 'notify.echo_dot_dining_room_announce', 
                'permission': 'input_boolean.household_notify_dining_room'
              }, { 
                'key': 'bedroom_1', 
                'player': 'media_player.echo_dot_bedroom_1', 
                'announce': 'notify.echo_dot_bedroom_1_announce', 
                'permission': 'input_boolean.household_notify_bedroom_1'
              }, { 
                'key': 'bedroom_2', 
                'player': 'media_player.echo_dot_bedroom_2', 
                'announce': 'notify.echo_dot_bedroom_2_announce', 
                'permission': 'input_boolean.household_notify_bedroom_2'
              }, { 
                'key': 'bedroom_3', 
                'player': 'media_player.echo_dot_bedroom_3', 
                'announce': 'notify.echo_dot_bedroom_3_announce', 
                'permission': 'input_boolean.household_notify_bedroom_3'
              }, { 
                'key': 'bedroom_4', 
                'player': 'media_player.echo_dot_bedroom_4', 
                'announce': 'notify.echo_dot_bedroom_4_announce', 
                'permission': 'input_boolean.household_notify_bedroom_4'
              }, { 
                'key': 'bathroom_1', 
                'player': 'media_player.echo_pop_main_bathroom', 
                'announce': 'notify.echo_pop_main_bathroom_announce', 
                'permission': 'input_boolean.household_notify_bathroom_1'
              }
            ] -%}

            {{ data }}

      - name: "ESPHome Board Update"
        unique_id: esphome_board_updates
        state: "{{ states( 'update.esphome_update' ) }}"
        attributes:
          entity_id: >-
            {%- set ns = namespace( entities = [] ) -%}
            {%- for s in states.update | rejectattr( 'attributes.title', 'undefined' ) -%}
              {%- if s.attributes.title == 'ESPHome' and s.object_id != 'esphome_update' -%}
                {% set ns.entities = ns.entities + [ s.entity_id  ] -%}
              {%- endif -%}
            {%- endfor -%}

            {{ ns.entities }}

      - name: "Status, Laundry - Tumble Dryer (Custom)"
        unique_id: status_laundry_tumble_dryer_machine_custom
        state: >-
          {%- set value_on = [ 'On', 'Run' ] -%}
          {%- set value_off = [ 'Off', 'Standby', 'Finished' ] -%}
          {%- set state = states( 'sensor.laundry_dryer_machine_state' ) %}

          {%- if state in value_on -%}
            on
          {%- elif state in value_off -%}
            off
          {%- else -%}
            unavailable
          {%- endif -%}
        icon: >-
          {%- set value_on = [ 'On', 'Run' ] -%}
          {%- set value_off = [ 'Off', 'Standby', 'Finished' ] -%}
          {%- set state = states( 'sensor.laundry_dryer_machine_state' ) %}

          {%- if state in value_on -%}
            mdi:tumble-dryer
          {%- elif state in value_off -%}
            mdi:tumble-dryer
          {%- else -%}
            mdi:cloud-question
          {%- endif -%}

      - name: "Status, Laundry - Washing Machine (Custom)"
        unique_id: status_laundry_washing_machine_custom
        state: >-
          {%- set value_on = [ 'On', 'Run' ] -%}
          {%- set value_off = [ 'Off', 'Standby', 'Finished' ] -%}
          {%- set state = states( 'sensor.laundry_washer_machine_state' ) %}

          {%- if state in value_on -%}
            on
          {%- elif state in value_off -%}
            off
          {%- else -%}
            unavailable
          {%- endif -%}
        icon: >-
          {%- set value_on = [ 'On', 'Run' ] -%}
          {%- set value_off = [ 'Off', 'Standby', 'Finished' ] -%}
          {%- set state = states( 'sensor.laundry_washer_machine_state' ) %}

          {%- if state in value_on -%}
            mdi:washing-machine
          {%- elif state in value_off -%}
            mdi:washing-machine
          {%- else -%}
            mdi:cloud-question
          {%- endif -%}

      - name: "Status, Dishwasher (Custom)"
        unique_id: status_dishwasher_custom
        state: >-
          {%- set value_on = [ 'On', 'Running' ] -%}
          {%- set value_off = [ 'Off', 'Idle', 'Complete', 'Finished' ] -%}
          {%- set state = states( 'input_select.status_dishwasher_options' ) %}

          {{ 'on' if state in value_on else 'off' if state in value_off else 'unavailable' }}
        icon: >-
          {%- set value_on = [ 'On', 'Running' ] -%}
          {%- set value_off = [ 'Off', 'Idle', 'Complete', 'Finished' ] -%}
          {%- set state = states( 'input_select.status_dishwasher_options' ) %}

          {{ 'mdi:dishwasher' if state in value_on else 'mdi:dishwasher' if state in value_off else 'mdi:cloud-question' }}
