substitutions:
  name: ratgdov25i-30f681
  friendly_name: RATGDO, Garage Door Opener


packages:
  ratgdo.esphome: github://ratgdo/esphome-ratgdo/v25iboard.yaml@main


esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  name_add_mac_suffix: false


api:
  encryption:
    key: !secret ratgdo_api_key

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: on
  power_save_mode: NONE
  manual_ip:
    static_ip: !secret ratgdo_ip_address
    gateway: !secret gateway
    subnet: !secret subnet

# Log all log messages
logger: 